<!--
  Generated template for the FeedFishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Feed Fish</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      Click the button to Feed Fish now
    </ion-list-header>
    <ion-item *ngFor="let motor of motor$ | async">
      <ion-col>
        <button ion-button block (click)="turnMotor(motor)" [disabled]="motor.condition == true">Feed</button>
      </ion-col>

      <p>*wait when button disabled</p>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let motor of motor$ | async">
    
    <ion-list-header>
      Set Timer to Feed
    </ion-list-header>

    <ion-item>
      <ion-label>Timer</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="motor.feedTime" [disabled]="motor.timerCondition == true"></ion-datetime>   
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="getTimer(motor, motor.feedTime)" [disabled]="motor.timerCondition == true">Set</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="danger"  (click)="offTimer(motor, false)" [disabled]="motor.timerCondition == false">Reset</button> 
        </ion-col> 
      </ion-row>
    </ion-item>
  
  </ion-list>

</ion-content>
 