<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="image-header">
    <img src="./assets/imgs/Smaco Bg.jpg">
  </div>

  <ion-list>
    <ion-list-header>
      Aquarium Condition
    </ion-list-header>
    <ion-item *ngFor="let temperature of temperature$ | async" class="temperature">
      <ion-label>Temperature</ion-label>
      <ion-label>
        {{temperature.tempAquarium}} &deg;C
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-row>
    <ion-col>
      <div>    
        <button ion-button icon-start clear full large navPush="TurnLampPage">
          <ion-icon name='bulb'></ion-icon>
          Light
        </button>
      </div>
    </ion-col>

    <ion-col>
      <div>    
        <button ion-button icon-start full clear large navPush="FeedFishPage">
          <ion-icon name='md-restaurant'></ion-icon>
          Feed
        </button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>    
        <button ion-button navPush="ViewPage" icon-start full clear large>
          <ion-icon name='eye'></ion-icon>
          View
        </button>
      </div>
    </ion-col>

    <ion-col>
      <div>    
        <button ion-button navPush="AboutPage" icon-start full clear large>
          <ion-icon name='md-person'></ion-icon>
          About
        </button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
