<ion-header>

  <ion-navbar color="primary">
    <ion-title>Turn Lamp</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-list-header>
      Aquarium Lamp
    </ion-list-header>

    <ion-item *ngFor="let lamp of lamp$ | async">

      <ion-row>
        <ion-col>Condition</ion-col>
        <ion-col>{{lamp.condition == true ? 'On' : 'Off'}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button block (click)="turnLamp(lamp, true)" [disabled]="lamp.condition == true">On</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="danger" (click)="turnLamp(lamp, false)" [disabled]="lamp.condition == false">Off</button> 
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>

  <ion-list *ngFor="let lamp of lamp$ | async">
    
    <ion-list-header>
      Set Timer to Turn On and Off lamp
    </ion-list-header>

    <ion-item>
      <ion-label>Time On</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="lamp.onTime" [disabled]="lamp.timerCondition == true"></ion-datetime>   
    </ion-item>

    <ion-item>
      <ion-label>Time Off</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="lamp.offTime" [disabled]="lamp.timerCondition == true"></ion-datetime>   
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="getTimer(lamp, lamp.onTime, offTime)" [disabled]="lamp.timerCondition == true">Set</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="danger"  (click)="offTimer(lamp, false)" [disabled]="lamp.timerCondition == false">Reset</button> 
        </ion-col> 
      </ion-row>
    </ion-item>
  
  </ion-list>



</ion-content>
